# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model checkpoints or datasets if large
*.h5
*.pt
*.ckpt

# Ignore local configs or IDE settings
.vscode/
.idea/
.DS_Store
